@model IEnumerable<mercharteria.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}

<br><br><br><br><br><br>
<section id="productos">
    <center><h2>Nuestros Productos</h2></center>
    <div class="productos-container">
            @foreach (var item in Model)
            {
              
            <div class="producto">
              <img src="@item.ImagenUrl" alt="@item.Nombre">
              <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
              <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>

              <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">Añadir al carrito</button>
              </form> 
            </div>
            }
    </div>
</section>


   
                
                
                
                
                
            