@model List<mercharteria.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}

<br><br><br><br><br><br>
<section id="productos">
    <center><h2>Nuestros Productos</h2></center>
    <div class="productos-container">
        @foreach (var producto in Model)
        {
            <div class="producto">
                <img src="@producto.ImagenUrl" alt="@producto.Nombre" />
                <h3>@producto.Nombre</h3>
                <p>@producto.Descripcion</p>
                <span>@producto.Precio.ToString("C")</span>
                
                
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@producto.Id" />
                    <button type="submit" class="btn btn-primary">
                        Añadir al carrito
                    </button>
                </form>
            </div>
        }
    </div>
    <br><br>
</section>