@model List<mercharteria.Models.CartItem>

<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Mi Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        @if(Model == null || !Model.Any())
        {
            <p>No hay productos en el carrito.</p>
        }
        else
        {
                    <form id="cartForm">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Subtotal</th>
                      </tr>
                  </thead>
                  <tbody>
               <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.ProductId">
                            <td>@item.Nombre</td>
                            <td>
                                <input type="number" name="quantity" value="@item.Cantidad" min="1" class="form-control quantity-input" data-id="@item.ProductId" />
                            </td>
                            <td class="subtotal" data-precio="@item.Precio">@(item.Precio * item.Cantidad)</td>
                        </tr>
                    }


                  </tbody>
              </table>
              <div class="modal-footer">
                  <button type="button" id="updateCartBtn" class="btn btn-primary">Actualizar Carrito</button>
                  <a asp-controller="Cart" asp-action="Index" class="btn btn-secondary">Ir al Carrito</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
              </div>
          </form>

        }
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



